$def with (datos)
<ul>
            <li><a href="/catalogo/">Catalogo de productos</a></li>
            <li><a href="/producto/crear/">Crear producto</a></li>
            <li><a href="/proveedor/crear/">Crear proveedor</a></li>
            <li><a href="/usuario/crear/">Crear usuario</a></li>
            <li><a href="/categoria/listar/">Listar Categorias</a></li>
            <li><a href="/ciudad/listar/">Listar Ciudades</a></li>
            <li><a href="/productos/listar/">Listar Productos</a></li>
            <li><a href="/proveedores/listar/">Listar Proveedores</a></li>
            <li><a href="/usuario/listar/">Listar Usuarios</a></li>
            <li><a href="/usuario/listar/">Listar Usuarios</a></li>
            <li><a href="/ciudad/listar/">Listar Ciudades</a></li>
            <li><a href="/productos/listar/">Listar Productos</a></li>
            <li><a href="/proveedores/listar/">Listar Proveedores</a></li>

</ul>