$def with (lineas, total=0, user=None)
$ s = float(total)/1.16
$ i = float(total)*0.16

<h2> Su carrito de compra </h2>


<table class="table">
  <tr>
    <th> Nombre </th> 
    <th> Cantidad </th>
    <th> Precio </th>
  </tr>
    $for l in lineas:
       <tr>
           <td>$l['nombre']</td>
           <td>$l['cantidad']</td>
           <td>$l['precio']</td>
       </tr>
    </table>

</table>
 Subtotal: $s <br>
 Iva: $i <br>
 Total:  $total
<form method="POST" action="/carrito/checkout/">
	Medio de pago:
	<select name="medio_de_pago" >
 		<option value="tarjeta credito">Tarjeta de crédito</option>
 		<option value="tarjeta debito">Tarjeta débito</option>
	</select>  
 <input type="submit" value="Checkout!">
</form>

