$def with (productos, user=None)


<h2> A continuación se listan los productos disponibles para su ciudad $user.getCity().nombre</h3>


<form action="/catalogo/"  method="POST" >
 Buscar por Nombre: <input type="text"  name="search">
  <button type="submit">Buscar </button>
</form>  <br>
<table class="table">
  <tr>
    <th> Nombre </th> 
    <th> Existencias </th>
    <th> Precio </th>>
  </tr>

    $for p in productos:
       <tr>
           <td><a href="/producto/ver/?id=$p['id']">$p['nombre'] </a> </td>
           <td>$p['existencias']</td>
           <td>$p['precio']</td>
       </tr>
    </table>

</table>