$def with (datos)



<h1> $datos['producto'].nombre</h1>
<form method="POST" action="/orden/anadir/"> 
  Cantidad deseada: <input type="text"  name="cantidad"> 
  <input type="hidden"  name="producto_id" value=$datos['producto'].id> 
  <input type="submit" value="Añadir al carrito de compras!">
</form>

</form>
<center>
<h4> Caracteristicas </h4> 
<h5>$datos['producto'].caracteristicas</h5>
<h4> Foto</h4> 
<img src="$datos['producto'].foto" alt="Foto $datos['producto'].nombre">
<h4> Marca </h4>
<h5>$datos['producto'].marca</h5>
<h4> Categoría </h4>
<h5>$datos['producto'].getCategoria().nombre</h5>
<h4> Proveedor </h4>
<h5>$datos['producto'].getProveedor().nombre</h5>
<h4> Precio </h4>
<h5>$datos['precio']</h5>

</center>
