$def with (datos)

<h1> Administradores </h1>
<table class="table">
  <tr>
    <th> identificacion </th> 
    <th> nombre completo </th>
    <th> usuario </th>
    <th> contraseña</th>
    <th> e-mail</th>
    <th> direccion de residencia</th>
    <th> ciudad de residencia</th>
  </tr>

    $for c in datos['administradores']:
       <tr>
           <td>$c.id</td>
           <td>$c.nombre_completo</td>
           <td>$c.usuario</td>
           <td>$c.contrasena</td>
           <td>$c.e_mail</td>
           <td>$c.direccion_residencia</td>
           <td>$c.obtenerCiudad(c.id)</td>
       </tr>
    </table>


<h1> Despachadores </h1>
<table class="table">
  <tr>
    <th> identificacion </th> 
    <th> nombre completo </th>
    <th> usuario </th>
    <th> contraseña</th>
    <th> e-mail</th>
    <th> direccion de residencia</th>
    <th> ciudad de residencia</th>
  </tr>

    $for c in datos['despachadores']:
       <tr>
           <td>$c.id</td>
           <td>$c.nombre_completo</td>
           <td>$c.usuario</td>
           <td>$c.contrasena</td>
           <td>$c.e_mail</td>
           <td>$c.direccion_residencia</td>
           <td>$c.obtenerCiudad(c.id)</td>
       </tr>
    </table>

<h1> Usuarios de Internet </h1>
<table class="table">
  <tr>
    <th> identificacion </th> 
    <th> nombre completo </th> 
    <th> sexo </th>
    <th> fecha de nacimiento </th> 
    <th> telefono </th>
    <th> usuario </th>
    <th> contraseña</th>
    <th> e-mail</th>
    <th> direccion de residencia</th>
    <th> ciudad de residencia</th>
    <th> direccion de despacho</th>
    <th> ciudad de despacho</th>

  </tr>

    $for c in datos['usuarios']:
      $ user = c.getUser(c.id)
       <tr>
           <td>$user.id</td>
           <td>$user.nombre_completo</td>
           <td>$c.sexo</td>
           <td>$c.fecha_nacimiento</td>
           <td>$c.telefono</td>
           <td>$user.usuario</td>
           <td>$user.contrasena</td>
           <td>$user.e_mail</td>
           <td>$user.direccion_residencia</td>
           <td>$user.obtenerCiudad(user.id)</td>
           <td>$c.direccion_despacho</td>
           <td>$c.obtenerCiudad(user.id)</td>
       </tr>
    </table>